/* imported custom font from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chela+One&display=swap');

.unorderedList {
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: none;
  font-size: 1.15em;
  font-family: 'Chela One', system-ui;
  align-items: center;
  justify-content: center;
}

.paginationControls {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.paginationPageNumber {
    margin: 0 0.25rem;
}

