/* imported customfont using google fonts */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald:wght@200..700&family=Rampart+One&family=Sonsie+One&display=swap');

body {
  background-color: rgb(202, 97, 48);
  font-family: 'Bungee Spice', sans-serif;
  font-size: 1.4em;
  color: black;
}
