.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 199, 179);
  margin: 1em;
  border: 0.75em groove black;
  border-radius: 5em;
  align-items: center;
  justify-content: center;
}

.error {
  border: 1em solid red;
  border-radius: 1em;
}
